.services {
  background: linear-gradient(180deg, #fff7f4, #f9d8cc);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 20px;
      text-align: right;
      letter-spacing: 10px;
      font-family: "Montaga", serif;
      font-weight: bolder;
      font-style: normal;
    }
  }
  .titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
      font-size: 96px;
      font-weight: 100;
    }
    button {
      cursor: pointer;
      height: 90px;
      width: 250px;
      background-color: #f9d8cc; // Or any desired color
      color: goldenrod;
      padding: 10px 20px;
      border-radius: 25px;
      border: none;
      font-size: 55px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.5s ease-out;
    }
    button:hover {
      background-color: goldenrod; // Or any desired color on hover
      color: #f9d8cc;
    }
    hr {
      width: 1075px;
      border: none;
      border-top: 2.5px solid;
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    .box {
      padding: 50px;
      width: 342px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      p {
        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
      }
    }
  }
}
