// .row {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0 4px;
//   overflow: hidden;
// }

// /* Create four equal columns that sits next to each other */
// .column {
//   flex: 25%;
//   max-width: 25%;
//   padding: 0 4px;
// }

// .column img {
//   margin-top: 8px;
//   vertical-align: middle;
//   width: 100%;
//   object-fit: cover;
// }

// /* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//   .column {
//     flex: 50%;
//     max-width: 50%;
//   }
// }

// /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//   .column {
//     flex: 100%;
//     max-width: 100%;
//     display: none;
//     height: 0px;
//   }
// }
.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.gallery-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust columns as needed */
  // grid-auto-rows: repeat(3, 1fr); /* Adjust rows as needed */

  gap: 10px; /* Adjust gap between images */
}

/* Optional: Responsive design */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Optional: Image styling */
.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;

  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  animation: lightbox-show 0.3s ease-in-out forwards;
}

.lightbox-overlay.active {
  opacity: 1;
  animation: lightbox-hide 0.3s ease-in-out forwards;
}

.lightbox-overlay.inactive {
  animation: lightbox-show 0.3s ease-in-out forwards;
  opacity: 0;
}

@keyframes lightbox-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightbox-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.lightbox-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2);
  gap: 10px;
  max-width: 70%;
  max-height: 800px;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
  position: absolute;
  cursor: pointer;
}

.lightbox-close {
  right: 150px;
  font-size: 55px;
  animation: lightbox-show 0.3s ease-in-out forwards;
}

.lightbox-prev {
  left: 140px;
  top: 50%;
  font-size: 80px;
}

.lightbox-next {
  right: 140px;
  top: 50%;
  font-size: 80px;
}

.lightbox-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
