@import "../../app.scss";

.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.gallery-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust columns as needed */
  // grid-auto-rows: repeat(3, 1fr); /* Adjust rows as needed */

  gap: 10px; /* Adjust gap between images */
}

/* Optional: Responsive design */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Optional: Image styling */
.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;

  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  animation: lightbox-show 0.3s ease-in-out forwards;
}

.lightbox-overlay.active {
  opacity: 1;
  animation: lightbox-hide 0.3s ease-in-out forwards;
}

.lightbox-overlay.inactive {
  animation: lightbox-show 0.3s ease-in-out forwards;
  opacity: 0;
}

@keyframes lightbox-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightbox-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.lightbox-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2);
  gap: 10px;
  max-width: 70%;
  max-height: 800px;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
  position: absolute;
  cursor: pointer;
}

.lightbox-close {
  right: 150px;
  font-size: 55px;
  animation: lightbox-show 0.3s ease-in-out forwards;
  @include mobile {
    right: 10px;
    font-size: 35px;
  }
}

.lightbox-prev {
  left: 140px;
  top: 50%;
  font-size: 80px;
  @include mobile {
    left: 15px;
    font-size: 35px;
  }
}

.lightbox-next {
  right: 140px;
  top: 50%;
  font-size: 80px;
  @include mobile {
    right: 15px;
    font-size: 35px;
  }
}

.lightbox-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
