@import "../../app.scss";
section {
  @include mobile {
    height: 70vh;
  }
  .offerSection {
    background: linear-gradient(180deg, #f9d8cc, #fff7f4);

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile {
      display: initial;
    }

    .titleContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 96px;
        font-weight: 100;
        @include mobile {
          font-size: 36px;
        }
      }
      p {
        font-weight: 200;
        font-size: 20px;
        text-align: center;
        padding: 25px;
        width: 85vw;
        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
        @include mobile {
          font-size: 15px;
        }
      }
    }
    .listContainer {
      flex: 2;
      display: flex;
      max-width: 1366px;
      margin: auto;
      @include mobile {
        padding: 0px 10px;
        display: initial;
        max-width: 100vw;
      }
      .box {
        padding: 25px;
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        transition: all 0.5s ease-out;
        @include mobile {
          padding: 30px;
          gap: 5px;
          width: 100vw;
        }
        h2 {
          @include mobile {
            font-size: 15px;
          }
        }

        p {
          font-size: 20px;
          font-family: "Montaga", serif;
          font-weight: bolder;
          font-style: normal;
          @include mobile {
            font-size: 10px;
          }
        }
      }
      .box:hover {
        background: #fff7f4;
        color: black;
      }
    }
  }
}
