.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  padding: 10px;
  background: linear-gradient(180deg, #fff7f4, #f9d8cc);
}
