@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #fff7f4, #f9d8cc);
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    @include mobile {
      width: 100%;
    }

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      bottom: 50px;
      position: absolute;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        padding-top: 20px;
        font-size: 30px;
        // letter-spacing: 10px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: bolder;
        font-style: normal;
        @include mobile {
          font-size: 15px;
          // letter-spacing: 5px;
        }
      }

      h1 {
        font-size: 105px;
        font-weight: bold;
        @include mobile {
          font-size: 36px;
        }
      }

      img {
        width: 100px;
        @include mobile {
          width: 50px;
        }
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 4.5rem;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      right: unset;
      left: 21.5rem;
      bottom: 20rem;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: rgba(218, 165, 32, 0.148);
    width: 50%;
    font-weight: bold;
    @include mobile {
    }
    font-size: 25vh;
    bottom: -28px;
  }
}
