@import "../../app.scss";

section {
  background: linear-gradient(180deg, #fff7f4, #f9d8cc);

  .contact_page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titleContainer {
      font-size: 55px;
      @include mobile {
        font-size: 22.5px;
      }
    }

    .paragraph_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      h2 {
        font-size: 34px;
        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile {
          font-size: 17px;
        }
      }
    }

    .paragraph_2 {
      padding: 20px;
      h3 {
        font-size: 34px;

        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
        @include mobile {
          font-size: 17px;
        }
      }
    }

    .paragraph_3 {
      padding: 20px;
      h2 {
        font-size: 34px;
        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
        @include mobile {
          font-size: 17px;
        }
      }
      a {
        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
      }
    }
  }

  .contact_button {
    cursor: pointer;
    height: 100px;
    width: 400px;
    background-color: #f9d8cc; // Or any desired color
    color: goldenrod;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; // Adjust as needed
    transition: all 0.5s ease-out;
    @include mobile {
      height: 50px;
      width: 200px;
      font-size: 27.5px;
      padding: 5px 10px;
      border-radius: 12.5px;
    }
  }

  .contact_button:hover {
    background-color: goldenrod; // Or any desired color on hover
    color: #f9d8cc;
  }
}
