.QASection {
  background: linear-gradient(180deg, #f9d8cc, #fff7f4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    h1 {
      font-size: 96px;
      font-weight: 100;
    }
  }

  .question {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: auto;
    width: 75vw;
    gap: 5px;
  }

  .listContainer {
    flex: 3;
    display: flex;
    gap: 20px;
    width: 75vw;
    margin: auto;

    .box {
      padding: 25px;
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      transition: all 0.5s ease-out;
      p {
        font-size: 20px;
      }
    }
    .box:hover {
      background: #fff7f4;
      color: black;
    }
  }
}
