@import "../../app.scss";

.QASection {
  background: linear-gradient(180deg, #fff7f4, #f9d8cc);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .titleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    @include mobile {
      margin-top: 10px;
      font-size: 16px;
    }

    h1 {
      font-size: 96px;
      font-weight: 100;
      @include mobile {
        font-size: 36px;
      }
    }
  }

  .question {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 75vw;
    gap: 5px;
    h1 {
      @include mobile {
        font-size: 12.5px;
      }
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Montaga", serif;
      font-weight: bolder;
      font-style: normal;
      @include mobile {
        font-size: 12px;
      }
    }
  }

  .listContainer {
    flex: 3;
    display: flex;
    gap: 20px;
    width: 75vw;
    margin: auto;
    @include mobile {
      display: initial;
      gap: 0px;
    }

    .box {
      padding: 25px;
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      h2 {
        @include mobile {
          font-size: 15px;
        }
      }
      @include mobile {
        width: initial;
        padding: 2.5px 5px 2.5px 5px;
        gap: 2px;
      }

      p {
        font-size: 20px;
        font-family: "Montaga", serif;
        font-weight: bolder;
        font-style: normal;
        @include mobile {
          font-size: 15px;
        }
        ul {
          li {
            font-size: 10px;
            font-family: "Montaga", serif;
            font-weight: bolder;
            font-style: normal;
          }
        }
      }
      .text {
        opacity: 0;
        transition: opacity 0.3s ease; /* Adjust duration and timing function as needed */
      }

      .text.visible {
        opacity: 1;
      }
      button {
        border: none;
        background: none;
        cursor: pointer;
        h2 {
          color: goldenrod;
        }
      }
    }
  }
}
