@import "../../app.scss";

.footerSection {
  background: linear-gradient(180deg, #f9d8cc, #fff7f4);
  height: 100%;
  display: flex;
  flex-direction: column;

  .titleSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include mobile {
      gap: 0px;
      margin-top: 5px;
    }

    h1 {
      font-size: 96px;
      font-weight: 100;
      @include mobile {
        font-size: 36px;
      }
    }
  }
  p {
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    @include mobile {
      font-size: 16.5px;
      padding: 15px;
      max-width: 400px;
    }
  }
  .southernBride {
    height: 220px;
    width: 220px;
    align-self: flex-end;
    margin-left: 68rem;
    @include mobile {
      height: 110px;
      width: 110px;
      margin-left: 0rem;
    }
  }
}
