@import "../../app.scss";

.footerSection {
  background: linear-gradient(180deg, #f9d8cc, #fff7f4);
  height: 100%;
  display: flex;
  flex-direction: column;

  .titleSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include mobile {
      gap: 0px;
      margin-top: 5px;
    }

    h1 {
      font-size: 96px;
      font-weight: 100;
      @include mobile {
        font-size: 36px;
      }
    }
    button {
      cursor: pointer;
      height: 90px;
      width: 250px;
      background-color: #f9d8cc; // Or any desired color
      color: goldenrod;
      padding: 10px 20px;
      border-radius: 25px;
      border: none;
      font-size: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-out;
      @include mobile {
        height: 45px;
        width: 95px;
        font-size: 22.5px;
        padding: 5px 10px;
        border-radius: 12.5px;
      }
    }
    button:hover {
      background-color: goldenrod; // Or any desired color on hover
      color: #f9d8cc;
    }
  }
  p {
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      font-size: 16.5px;
      padding: 15px;
    }
  }
  // .imageContainer {
  //   flex: 2;
  //   height: 100%;
  //   position: relative;
  //   @include mobile {
  //     flex: initial;
  //     height: initial;
  //     position: initial;
  //     background-color: #333;
  //     overflow: hidden;
  //     white-space: nowrap;
  //     padding: 10px;
  //   }
  //   img {
  //     height: 60vh;
  //     width: 25vw;
  //     display: inline;
  //     padding: 0px 5px;
  //     @include mobile {
  //       display: inline-block;
  //       width: 75vw;
  //       padding: 5px;
  //       max-width: 932px;
  //     }
  //   }
  // }
}
